.changefontfamily{
    font-family: "arial black";
    text-decoration: underline;
}

.styletitle{
    text-align: center; 
    color: magenta;
}

.info{
    background-color: aqua;
}

.moreinfo{
    margin-top: 20px; 
    padding: 20px; 
    width: 80%; 
    box-shadow: 1px 1px 3px black;
}