.backhome{
    width: 100px;
    text-align: center;
}

.backhome span{
    font-size: 50px;
}

.linkhome{
    color: darkorange;
    font-weight: bold;
    text-decoration: none;
}

.linkhome:hover{
    color: gray;
    opacity: 0.6;
}

.form{
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

.form fieldset{
    width: 700px; 
    background-color: cornsilk;
    padding: 10px; 
    box-shadow: 1px 1px 8px gray;
    border-radius: 6px;
    margin: 5% auto; 
}
.formlegend{
    text-align: center;
    background-color: lightsalmon;
    border: ridge 2px gray;
    width: 300px; 
    padding: 12px; 
    font-size: 30px; 
    margin: 1% auto;
    border-radius: 10px;
}

.control{
    margin-top: 20px;
}
.control label{
    padding: 20px;
}